body{
    padding: 100px;
}
.submit{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(184, 184, 184);
    padding: 10px;
    background-color: black;
    color: white;

}
#transectionarea{
    display: none;
}
.status{
    margin: 0 20px;
    color: rgb(10, 10, 10);
    padding:20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(184, 184, 184);
}
.deposit{
    background-color: slateblue;
   
}
.withdraw{
    background-color: lightsalmon;
 
}
.balance{
    background-color: orange;
   
}